html
	head
		title Feed
		link(rel='stylesheet', href='/css/dashboard.css')
	body
		header
			h1 Node.js Micropost Feed
			ul
				li
					a.active#home_link(href='/') Feed
				li
					a#profile_link(href='/users') Users
				li(style='float: right;')
					a.logout_link(href='/logout') Logout
				li(style='float: right;')
					a(href='/users/' + user.username)
						u= user.username
		section
			p
				form(method='POST' action='')
					textarea.new_post#post_body_input(style='resize: none;' name='post_body' placeholder='Create a new post...' maxlength='255' required)
					button(style='float: right;' id='submit_button' type='submit') Post
			p#character_count_paragraph
				= '('
				span#character_count= 0
				= '/255 characters)'
		if posts
			each post in posts
				section.post
					h1
						a.post_author(style='color: #adadad;' href='/users/' + post.username)= post.username
						span(style='float: right;')
							- var date = new Date(post.created_at)
							- var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours()
							- var am_pm = date.getHours() >= 12 ? "PM" : "AM"
							- hours = hours < 10 ? "0" + hours : hours
							- var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
							- var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds()
							= hours + ":" + minutes + am_pm + ' ' + (date.getMonth()+1) + '/' + date.getDate() + '/' + date.getFullYear()
					p.post_body= post.body
script(type='text/javascript').
	document.getElementById('post_body_input').onkeyup=function(){document.getElementById('character_count').innerHTML = this.value.length;};